<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <!-- Text Area Form Goes Here -->
    <form method="POST" action="/myForm" id="movie">
        <textarea name="movies" placeholder="Movies separated by comma"> </textarea>
        <input type="submit" >
    </form>
</body>

</html>